# Exercise 1
```In this exercise you will experience with pandas, matplotlib and numpy. This are main tools we are going to use later in course, and which are extremly useful in a variety of tasks. For each question, answer it in cells directly beneath it.```

```You are more than encourged to read relevant parts, mainly from ``` [pandas' API](https://pandas.pydata.org/pandas-docs/stable/reference/index.html)

```~ Ittai Haran```

## DataFrame basics

```A few of the fundamental routines for selecting, sorting, adding and aggregating data in DataFrames```

```import numpy and pandas```

In [0]:
import pandas as pd
import numpy as np

```Consider the following Python dictionary `data` and Python list `labels`:```

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```

```Create a DataFrame `df` from this dictionary `data` which has the index `labels`.```

In [0]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(data, index = labels)

```Display a summary of the basic information about this DataFrame and its data using the decribe and the info functions```

In [3]:
df.describe()

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
age         8 non-null float64
animal      10 non-null object
priority    10 non-null object
visits      10 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

```Return the first 3 rows of the DataFrame `df`. Do it two times: use head and iloc```

In [5]:
df.head(3)
df.iloc[[0, 1, 2]]

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2

```Select just the 'animal' and 'age' columns from the DataFrame `df`.```

In [6]:
df[['animal', 'age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

```Select the data in rows `[3, 4, 8]` *and* in columns `['animal', 'age']`.```

In [7]:
df.iloc[[3, 4, 8], [0, 1]]

   age animal
d  NaN    dog
e  5.0    dog
i  7.0    dog

```Select only the rows where the number of visits is greater than 3. Pandas supports two useful APIs:
(df[boolean list/series]) returns the rows for which the value is True
(df[column] > num) returns a boolean series```

In [8]:
df[df['visits'] > 3]

Empty DataFrame
Columns: [age, animal, priority, visits]
Index: []

```Select the rows where the age is missing, i.e. is `NaN`.```

In [9]:
df[df.isnull()['age']]

   age animal priority  visits
d  NaN    dog      yes       3
h  NaN    cat      yes       1

```Select the rows where the animal is a cat *and* the age is less than 3. You can use logical operands: &, |, ~```

In [10]:
df[(df['animal'] == 'cat') & (df['age'] < 3)]

   age animal priority  visits
a  2.5    cat      yes       1
f  2.0    cat       no       3

```Select the rows the age is between 2 and 4 (inclusive).```

In [11]:
df[(df['age']>2) & (df['age']<4) ]
print(df)

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
d  NaN    dog      yes       3
e  5.0    dog       no       2
f  2.0    cat       no       3
g  4.5  snake       no       1
h  NaN    cat      yes       1
i  7.0    dog       no       2
j  3.0    dog       no       1

```Change the age in row 'f' to 1.5.```

In [12]:
df.set_value('f', 'age', 1.5)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """Entry point for launching an IPython kernel.

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
d  NaN    dog      yes       3
e  5.0    dog       no       2
f  1.5    cat       no       3
g  4.5  snake       no       1
h  NaN    cat      yes       1
i  7.0    dog       no       2
j  3.0    dog       no       1

```Calculate the sum of all visits (the total number of visits). Do it twice: using built in pandas functions and using numpy```

In [13]:
df.visits.sum()
np.sum(df.visits)

19

```Calculate the mean age for each different animal in `df`.```

In [14]:
df[df['animal']  == 'cat'].age.mean()
df[df['animal']  == 'dog'].age.mean()
df[df['animal']  == 'snake'].age.mean()

2.5

```Append a new row 'k' to `df` with your choice of values for each column. Then delete that row to return the original DataFrame.```

In [0]:
k = pd.Series({'age': 4.0, 'animal': 'snake', 'priority': 'yes', 'visits': '2.0'})
k.name = 'k'
df = df.append(k)

In [0]:
df = df.drop(['k'])

```Count the number of each type of animal in `df`.```

In [17]:
df['animal'].value_counts()

cat      4
dog      4
snake    2
Name: animal, dtype: int64

```Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visit' column in *ascending* order. You can use the sort_values function```

In [18]:
df.sort_values('age', ascending = False)
df.sort_values('visits')

   age animal priority visits
a  2.5    cat      yes      1
g  4.5  snake       no      1
h  NaN    cat      yes      1
j  3.0    dog       no      1
c  0.5  snake       no      2
e  5.0    dog       no      2
i  7.0    dog       no      2
b  3.0    cat      yes      3
d  NaN    dog      yes      3
f  1.5    cat       no      3

```The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.```

In [0]:
df['priority'] = df['priority'].map({'yes': True, 'no': False})

```In the 'animal' column, change the 'snake' entries to 'python'.```

In [0]:
df = df.replace('snake', 'python')

```For each animal type and each number of visits, find the mean age. In other words, each row is an animal, each column is a number of visits and the values are the mean ages (hint: use a pivot table).```

In [21]:
pd.pivot_table(df, values='age', index=['animal'], columns= ['visits'], aggfunc=np.average)

visits    1    2     3
animal
cat     NaN  NaN  2.25
dog     3.0  6.0   NaN
python  4.5  0.5   NaN

```Now you will be asked to generate your own test data and manipulate it using functions you will have to create.```

```Create a dataframe with 1000 rows and 3 columns. The columns are to be the following:```
```
        - age: an integer, uniformly distributed between 20 to 65
        - skill: a float, normally distributed between 0 and 1, with expected value = 0.5 and standard deviation = 0.3
        - height: a float with 2 digits after the decimal point, between 1.5 to 2.0
```
```you might want to use numpy.random```

In [22]:
age = np.random.random_integers(20, 65, 1000)
skill = np.clip(np.random.normal(0.5, 0.3, 1000), 0, 1)
height = np.round(np.random.uniform(1.5, 2, 1000), 2)

data = {'age': age, 'skill': skill, 'height': height}

df = pd.DataFrame(data)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: This function is deprecated. Please call randint(20, 65 + 1) instead
  """Entry point for launching an IPython kernel.

```Add the dataframe a new columns, called salary, when:```
        <center>$salary = 1000\cdot((age^2)/1000 + 1.7\cdot skill + 0.4\cdot exp(-(height-1.7)^2)$<center>

In [0]:
x = (df['age'] ** 2) / 1000
y = 1.7 * df['skill']
z = 0.4*  np.exp(-((df['height'] - 1.7) ** 2))

df['salary'] = 1000 * (x + y + z)

```Split the dataframe to groups by the age left digit and by the age. for each group compute:```
```
        - the number of rows
        - the mean salary
        - the maximum height     
```

```To do so, read about the groupby and agg functions is the ``` [pandas API](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html)

In [24]:
df.groupby('age').agg({'salary': ['mean', 'count'], 'height': 'max'})

          salary       height
            mean count    max
age
20   1743.488243    18   1.99
21   1709.739236    24   1.97
22   1690.695150    18   1.96
23   1819.822793    22   2.00
24   1797.227149    19   2.00
25   1803.656470    11   1.93
26   1886.895933    25   1.97
27   1874.000861    17   1.94
28   1785.686239    23   1.98
29   1901.034806    29   1.99
30   2127.903234    19   1.99
31   2190.811028    31   1.96
32   2105.025720    17   2.00
33   2532.996667    22   1.99
34   2506.705105    27   1.99
35   2568.459060    30   1.99
36   2456.339431    19   1.99
37   2737.667753    23   2.00
38   2558.884252    26   1.99
39   2757.774611    20   1.97
40   2835.712014    21   1.99
41   3052.488018    15   1.99
42   3062.042160    31   1.99
43   3245.897144    28   1.97
44   3170.923694    18   2.00
45   3298.514554    22   1.93
46   3304.572732    26   2.00
47   3620.571885    16   1.95
48   3429.814091    20   1.92
49   3615.397456    20   1.89
50   3623.650224    27   1.99
51   3748.651751    16   1.95
52   3954.236598    21   1.99
53   4070.273054    19   1.95
54   4098.330560    25   1.96
55   4153.325822    15   1.98
56   4396.758934    29   2.00
57   4369.705741    22   1.98
58   4521.389242    23   1.95
59   4560.071302    16   1.96
60   4708.879993    16   1.95
61   4926.071492    19   2.00
62   5143.374710    20   1.98
63   5247.513121    15   1.98
64   5235.261978    31   2.00
65   5378.697493    29   1.97

```Now split the dataframe to groups by age. For each group compute the mean salary, divided by the sum of heights.```

In [25]:
grouped = df.groupby('age')
salary_mean = grouped['salary'].mean()
height_sum = grouped['height'].sum()
result = df['age']
result['Y'] = salary_mean/height_sum

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

```Add these lines to your code:```
```python
        import matplotlib.pyplot as plt
        %matplotlib inline
``` 
       
```Now try using the pd.DataFrame.plot function to show your data. Try also using pd.DataFrame.boxplot.```

In [26]:
  import matplotlib.pyplot as plt
  %matplotlib inline
  
  result.plot()

TypeError: ignored

```Save the result as a csv```

## Working with real-life data

```read the csv file entitled house_prices_numeric.csv consider writing the following line of code:```
```python
pd.options.display.max_columns=50
```

In [0]:
from IPython.display import display, HTML
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

pd.options.display.max_columns=50

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/roee97/ds_course_ex1/master/house_prices_numeric.csv')

In [38]:
new = df.groupby('YrSold').agg({'Id' : 'count' })
new.plot('YrSold', 'Id')

KeyError: ignored

```In the following questions, print your answer if possible, draw a graph or visualize it in any other means. When drawing a graph, add a title to it. Answer the following questions (try using a single line of code for each):```
```
- What is oldest house in the dataset (YearBuilt)?
- What is the highest price (SalePrice) of houses built in that year?
- What is the mean area (LotArea) of houses?
- What is the 50-percentile of the area (LotArea) of houses?
- What is more common: having a fireplace (Fireplaces) in the house, or not having one?
- What is the mean price (SalePrice) of houses that have swimming pools (PoolArea)?
- How many houses were sold every year (YrSold)? Draw a graph using plt.plot or pandas.plot
- What is the distribution of the overall condition of the houses (OverallCond)? Use plt.hist or pandas.hist
- For every number of fireplaces in a house (Fireplaces), compute the mean price of a house, the mean age of the house (we are in 2019) and the count of distinct FullBath values
- Take only houses with MSSubClass > 60. Split into groups according to whether or not the MSSubClass is a multiple of 20. For each group compute the mean, max, min and standard deviation of OverallQual
```

In [31]:
print df['YearBuilt'].min()
print df[df['YearBuilt'] == df['YearBuilt'].min()]['SalePrice'].max()
print df['LotArea'].mean()
print  df['LotArea'].median()
if df[df['Fireplaces']==0].count() > df[df['Fireplaces'] > 0].count():
  print 'not having'
else:
    print 'having'
print df[df['PoolArea'] > 0]['SalePrice'].mean()
df['OverallCond'].hist()

1872
122000
10516.828082191782
9478.5

ValueError: ignored

## Feature extraction

```Load the complete version of the houses table, entitled "house_prices_larger.csv"```

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/roee97/ds_course_ex1/master/house_prices_larger.csv')

```As you recall, the feature extraction process is done in order to let us describe the data in more "meaningful" manner. Add the following features to your dataframe:```
- ```LotArea in squared meters ( it's currently in units of squared feet)```
- ```1stFlrSF + 2ndFlrSF```
- ```GarageArea**0.5```
- ```LotArea / (BedroomAbvGr+1)```
- ```LotArea / (mean LotArea for houses built in that same year + 1e-5) - you might want to use``` [pandas merge function](https://www.google.com/search?q=pandas+merge&oq=pandas+merge&aqs=chrome..69i57l2j69i59l3j69i60.2080j0j9&sourceid=chrome&ie=UTF-8)
- ```Ranking of LotArea (largest house has 1, the second largest has 2 and so on)```
- ```One hot encoding of LotConfig - that is, add feature againts every value possible in LotConfig, which is 1 if the sample's LotConfig is this value and 0 otherwise (consider``` [pandas.get_dummies](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.get_dummies.html))

```make a list of the names of the features you created.```

In [0]:
df['LotAreaMeters'] = 0.092903 * df['LotArea']
df['FlrSF_Sum'] = df['1stFlrSF'] + df['2ndFlrSF']
df['GarageAreaRoot'] = df['GarageArea'] ** 0.5
df['LotArea_BedRoom'] = df['LotArea'] / (df['BedroomAbvGr'] + 1)
AreaForYearMean = df.groupby('YearBuilt').agg({'LotArea': 'mean'})
dfWithAreaForYear = df.merge(AreaForYearMean, left_on = 'YearBuilt', right_on = 'YearBuilt')
df['LotArea_SameYear'] = dfWithAreaForYear['LotArea_x'] / (dfWithAreaForYear['LotArea_y'] + 1e-5)
df['LotAreaRanked'] = df['LotArea'].rank(ascending=0)
new = pd.get_dummies(df['LotConfig'])
df = df.join(new)

features = ['LotAreaMeters', 'FlrSF_Sum', 'GarageAreaRoot', 'LotArea_BedRoom', 'LotArea_SameYear', 'LotAreaRanked'] + new.columns.values.tolist()

## Simple linear model

```Next, we will train a simple linear model, as seen in class, to predict SalePrice. Use the features you computed. Create train and test segments, normalize the data (both the features and the target) and use a linear model. Make sure you don't somehow use the test data when training your model (or when normalizing your data).```

In [0]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

In [0]:
X = df[features]
Y = df['SalePrice']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y)
X_scaler = StandardScaler().fit(X_train)
#Y_scaler =  StandardScaler().fit(Y_train)
normal_X_train = X_scaler.transform(X_train)
normal_X_test = X_scaler.transform(X_test)
regression = LinearRegression()
regression.fit(normal_X_train, Y_train)
Y_prediction = regression.predict(normal_X_test)
plt.scatter(Y_test, Y_prediction)
plt.show

```Next, we will add extra features: for any feature you computed earlier, add feature**2 and feature**3. Now use Ridge regression (regularized linear regression, as we discussed in class). Draw graphs of the loss computed on the train and on the validation as a function of the regularization parameter, for``` 1$\leq\alpha\leq$30. ```What regularization would it be best to take?```

In [0]:
from sklearn.linear_model import Ridge
df = pd.read_csv('https://raw.githubusercontent.com/roee97/ds_course_ex1/master/house_prices_special.csv')

In [0]:
df['LotAreaMeters'] = 0.092903 * df['LotArea']
df['FlrSF_Sum'] = df['1stFlrSF'] + df['2ndFlrSF']
df['GarageAreaRoot'] = df['GarageArea'] ** 0.5
df['LotArea_BedRoom'] = df['LotArea'] / (df['BedroomAbvGr'] + 1)
AreaForYearMean = df.groupby('YearBuilt').agg({'LotArea': 'mean'})
dfWithAreaForYear = df.merge(AreaForYearMean, left_on = 'YearBuilt', right_on = 'YearBuilt')
df['LotArea_SameYear'] = dfWithAreaForYear['LotArea_x'] / (dfWithAreaForYear['LotArea_y'] + 1e-5)
df['LotAreaRanked'] = df['LotArea'].rank(ascending=0)
new = pd.get_dummies(df['LotConfig'])
df['LotAreaMeters^2'] = df['LotAreaMeters']*df['LotAreaMeters']
df['LotAreaMeters^3'] = df['LotAreaMeters']*df['LotAreaMeters']*df['LotAreaMeters']
df['FlrSF_Sum^2'] = df['FlrSF_Sum']*df['FlrSF_Sum']
df['FlrSF_Sum^3'] = df['FlrSF_Sum']*df['FlrSF_Sum']*df['FlrSF_Sum']
df['GarageAreaRoot^2'] = df['GarageAreaRoot']*df['GarageAreaRoot']
df['GarageAreaRoot^3'] = df['GarageAreaRoot']*df['GarageAreaRoot']*df['GarageAreaRoot']
df['LotArea_BedRoom^2'] = df['LotArea_BedRoom']*df['LotArea_BedRoom']
df['LotArea_BedRoom^3'] = df['LotArea_BedRoom']*df['LotArea_BedRoom']*df['LotArea_BedRoom']
df['LotAreaRanked^2'] = df['LotAreaRanked']*df['LotAreaRanked']
df['LotAreaRanked^3'] = df['LotAreaRanked']*df['LotAreaRanked']*df['LotAreaRanked']
df['LotArea_SameYear^2'] = df['LotArea_SameYear']*df['LotArea_SameYear']
df['LotArea_SameYear^3'] = df['LotArea_SameYear']*df['LotArea_SameYear']*df['LotArea_SameYear']
df = df.join(new)

features = ['LotAreaMeters', 'FlrSF_Sum', 'GarageAreaRoot', 'LotArea_BedRoom', 'LotArea_SameYear', 'LotAreaRanked',
           'LotAreaMeters^2', 'LotAreaMeters^3', 'FlrSF_Sum^2', 'FlrSF_Sum^3', 'GarageAreaRoot^2',
           'LotArea_BedRoom^2', 'LotArea_BedRoom^3', 'LotArea_SameYear^2', 'LotArea_SameYear^3'] + new.columns.values.tolist()

In [0]:
X = df[features]
Y = df['SalePrice']
X_train, X_test, Y_train, Y_test =train_test_split(X, Y)

scaler = StandardScaler()
scaler.fit(X_train)
X_train=scaler.transform(X_train)
X_test=scaler.transform(X_test)
train_loss=[]
Test_loss=[]
for i in range(30):
  rig = Ridge(alpha=i+1).fit(X_train, Y_train)
  train_loss.append(mean_squared_error(X_train,rig.predict(X_train)))
  test_loss.append(mean_squared_error(X_test,rig.predict(X_test)))
  
train_loss_plot = plt.plot(range(1,31),train_loss)
plt.title('the train loss as function of a')
plt.figure()
test_loss_plot =plt.plot(range(1,31),test_loss)
plt.title('the test loss as function of a')